@import 'bootstrap';
@import 'vars';
@import 'typography';

@import 'userpanel';

body {
  font-family: 'Open Sans', sans-serif;
  color: $font-color--dark;
  background-color: $background--light;
  padding: $half-space;
	div.container{
    h1{
      margin-top: 35px;
    }
  }
}

.logo{
	color:$background--light;
	span.logo-red{
		color:$red;
	}
}


div.gapselect{
	ul.gap-list {
		li.gap{
			height: 54px;
			span.gap-name{
				width:150px;
			}
		}
	}
}

