div.userpanel{
	div.streaming-video, div.terraing-stats, div.chest{
		img{
			height: 300px;
		}
	}
	ul.product-list{
		li.product{
			padding:0 5px;
			img{
				margin: 2px 5px;
			}
		}
	}
	ul.group-list{
		li{
			span{
				padding:0 10px;
			}
		}
	}
}