<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand logo"> <strong>Green <span class="logo-red">Cappuccetto</span></strong></a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li>
                    <a href="signin">Signin</a>
                </li>
                <li>
                    <a href="gapselect">Scegli un gruppo</a>
                </li>
                <li>
                    <a href="chestselect">Scegli la tua cesta</a>
                </li>
                <li>
                    <a href="userpanel">User panel</a>
                </li>
            </ul>
        </div>
    </div>
</div>
