<menu-directive></menu-directive>
<div class="container">
    <div class="row">
    </div>
    <div class="col-md-6">
        <h1>{{chestselect.groupName}}</h1>
        <ul class="list-group group-list">
            <li class="list-group-item" ng-repeat="member in chestselect.gapMembers">
                <i class="glyphicon glyphicon-user" style="font-size:25px;" />
                <span>{{member.name}}</span>
                <i class="glyphicon glyphicon-ok" ng-class="" style="font-size:20px; color:green;" />
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <h1>Seleziona il formato della tua cesta</h1>
        <div class="panel" style="padding:20px;">
        <div class="row">
            <div class="col-md-4"  style="height:250px;">
                <div class="thumbnail" style="text-align:center;">
                    <img src="images/pack/small-cap.png" width="50px" height="50px" >
                    <div class="caption">
                        <h3>Small</h3>
                        <a href="userpanel" class="btn btn-primary" role="button">Seleziona</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="height:250px;">
                <div class="thumbnail" style="text-align:center;">
                    <img src="images/pack/medium-grandma.png" width="75px" height="75px">
                    <div class="caption">
                        <h3>Medium</h3>
                        <a href="userpanel" class="btn btn-primary" role="button">Seleziona</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="height:250px;">
                <div class="thumbnail" style="text-align:center;">
                    <img src="images/pack/big-wolf.png" width="100px" height="100px">
                    <div class="caption">
                        <h3>Large</h3>
                        <a href="userpanel" class="btn btn-primary" role="button">Seleziona</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
