<menu-directive></menu-directive>
<div class="container gapselect">
    <h1>Seleziona un GAS nella tua zona</h1>
    <ul class="list-group gap-list">
        <li class="list-group-item gap" style="" ng-repeat="gap in gapselect.gaps">
        	<span class="gap-name">{{gap.name}}</span>
          	<i class="glyphicon glyphicon-user"
        		ng-click="gapselect.join(gap)"></i> {{gap.members}} / 10
			<button type="button" class="btn btn-default pull-right" aria-label="Left Align" ng-click="gapselect.join(gap)">
			  <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
			</button>
        </li>
        <li>
        <div class="input-group">
      <input type="text" class="form-control" ng-model="gapselect.newGroupName" placeholder="Nome gruppo">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="gapselect.create(gapselect.newGroupName)">Crea</button>
      </span>
    </div>

        </li>
    </ul>
    
</div>
