<menu-directive></menu-directive>
<div class="container">
    <h1>Home</h1>
    <h3 class="heading-medium"><span class="number-example" on-click="home.reg()">{{ home.number }}</span></h3>
    <example-directive title="my title"> </example-directive>
</div>
