<menu-directive></menu-directive>
<div class="container">
    <h1></h1>
    <div class="row centered-form" style="margin-top: 80px;">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                   <h3 class="panel-title logo">  <strong>Green <span class="logo-red">Cappuccetto</span></strong></h3>
                </div>
                <div class="panel-body">
                    <form role="form" name="signinForm" novalidate>
                        <div class="form-group">
                            <input  type="text"
                            		name="name" 
                            		id="name" 
                            		class="form-control input-sm floatlabel" 
                                    ng-model="signin.user.name"
                            		placeholder="Nome"
                                    style="margin:5px 0;"
                                    required>

                        

							<input  type="text"
                            		name="username" 
                            		id="username" 
                            		class="form-control input-sm floatlabel" 
                                    ng-model="signin.user.username"
                            		placeholder="Username"
                                    style="margin:5px 0;"
                                    required>
                                    
                        
							<input  type="email"
                            		name="email" 
                            		id="email" 
                            		class="form-control input-sm floatlabel" 
                                    ng-model="signin.user.email"
                            		placeholder="email"
                                    style="margin:5px 0;"
                                    required>
                        
							<input  type="password"
                            		name="password" 
                            		id="password" 
                            		class="form-control input-sm floatlabel" 
                                    ng-model="signin.user.password"
                                    ng-minlength="6"
                                    style="margin:5px 0;"
                            		placeholder="Password"
                                    required>
                        
                            <div class="input-group">
	                            <input  type="address"
	                            		name="address" 
	                            		id="address" 
	                            		class="form-control input-sm floatlabel" 
	                                    ng-model="signin.user.address"
	                            		placeholder="Indirizzo"
	                                    required>
	                        
	  							<span class="input-group-addon" ng-click="signin.reverseGeolocate()">-></span>
							</div>
                            <map map-center="signin.user.coords"></map>
							<span>lat: {{signin.user.coords.lat}}</span>
							<span>lng: {{signin.user.coords.lng}}</span>
                            <map map-center=""></map>
                            <input type="submit" value="Register" class="btn btn-info btn-block" ng-click="signin.register()">
                    </form>
                    <div class="alert alert-success"
                         role="alert"
                         ng-show="signin.showSuccess"
                         >Iscritto con successo!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
