<menu-directive></menu-directive>
<div class="container userpanel">
    <h1>Map</h1>
    <map-directive map-center="userpanel.mapCenter"></map-directive>
    <div class="row">
        <div class="col-md-6">
    		<h2> La tua azienda agricola in tempo reale</h2>
            <div class="thumbnail streaming-video">
                <img src="images/farmvideo.gif" alt="" width="100%" height="250">
            </div>
        </div>
        <div class="col-md-6">
    		<h2> Indicatori qualità del terreno </h2>
            <div class="thumbnail terraing-stats">
               <ul class="list-group">
               	<li class="list-group-item">intesità di luce attuale: 130%</li>
               	<li class="list-group-item">umidità: 52%</li>
               	<li class="list-group-item">temperatura: 7°</li>
               	<li class="list-group-item">umidità terreno: 38%</li>
               </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2> Cesta della settimana </h2>
            <div class="thumbnail chest">
                <img src="images/pack/cassetta.png" alt="" width="100%" height="150">
            </div>
            <ul class="list-group product-list">
                <li class="list-group-item product"><img src="images/products/patata.jpg" width="50px" alt="">Patate 3 kg</li>
                <li class="list-group-item product"><img src="images/products/melanzana.jpg" width="50px" alt="">Melanzana 1/2 kg</li>
                <li class="list-group-item product"><img src="images/products/pomodoro.jpg" width="50px" alt="">Pomooori 1kg </li>
                <li class="list-group-item product"><img src="images/products/carciofo.jpg" width="50px" alt="">Carciofi 1/2kg </li>
            </ul>
        </div>
        <div class="col-md-6">
            <h2> Membri del gruppo </h2>
            <ul class="list-group group-list">
                <li class="list-group-item"><i class="glyphicon glyphicon-user" style="font-size:25px;"/><span>Jacopo</span><i class="glyphicon glyphicon-star" /></li>
                <li class="list-group-item"><i class="glyphicon glyphicon-user"  style="font-size:25px;"/><span>Cecilia</span></li>
                <li class="list-group-item"><i class="glyphicon glyphicon-user"  style="font-size:25px;"/><span>Alexander</span></li>
            </ul>
        </div>
    </div>
</div>